<div class="modal fade" id="calendarModal" tabindex="-1" aria-labelledby="calendarModalLabel" aria-hidden="true"
     data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    After saving a date, the encrypted file will remain accessible until that specified time. Once the expiration date is reached, the download link will no longer display the encrypted content.
                </p>

                <strong> Please note:</strong> <p>
                    Unless explicitly selected below, the encrypted data will remain in our system even after the expiration date.
                </p>

                <div class="container">
                    <div class="row">
                        <div class='col-sm-12'>
                            <input type='text' class="form-control" id='datetimepicker4' placeholder="Select date and time">
                        </div>
                    </div>
                </div>

                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Automatically delete the file once the expiration date is reached.
                    </label>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between w-100">
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Save Date</button>
                <a href="#" class="text-muted" data-bs-dismiss="modal">I don't need an expiration date</a>
            </div>
        </div>
    </div>
</div>