@model IndexModel

<div class="modal fade" id="DetailsModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLongTitle">
                    <strong>How Does it Work?</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pop-styling text-black">
                <p class="m-0">
                    This is a project to encrypt files and provide a link to share between the recipient and the sender as a means of securely sending data.
                </p>
                <br />                
                This project inherits the <strong>zero knowledge model</strong> in its architecture; thus,
              <ul class="mt-2">
                    <li>The password and the file plain data provided by the sender is not saved in our system.</li>
                    <li>The cipher key generated to encrypt/decrypt the data is not saved in our system.</li>
                    <li>The user is in control of the expiration date of the link.</li>
            </ul>
            <div class="supported-files pop-styling">
                <h6 class="section-title mb-3">
                        <strong> Supported File Types</strong>
                </h6>

                <div class="file-type-badges">
                        <div class="file-category mb-2">
                            <span class="badge-category">Documents</span>
                            <span class="badge badge-light">TXT</span>
                            <span class="badge badge-light">PDF</span>
                            <span class="badge badge-light">DOCX</span>
                            <span class="badge badge-light">XLSX</span>
                            <span class="badge badge-light">PPTX</span>
                            <span class="badge badge-light">CSV</span>
                            <span class="badge badge-light">HTML</span>
                            <span class="badge badge-light">CSS</span>
                        </div>

                        <div class="file-category mb-2">
                            <span class="badge-category">Images</span>
                            <span class="badge badge-light">PNG</span>
                            <span class="badge badge-light">JPG</span>
                            <span class="badge badge-light">JPEG</span>
                            <span class="badge badge-light">GIF</span>
                            <span class="badge badge-light">BMP</span>
                            <span class="badge badge-light">WEBP</span>
                            <span class="badge badge-light">SVG</span>
                        </div>

                        <div class="file-category mb-2">
                            <span class="badge-category">Media</span>
                            <span class="badge badge-light">MP3</span>
                            <span class="badge badge-light">WAV</span>
                            <span class="badge badge-light">MP4</span>
                            <span class="badge badge-light">WEBM</span>
                        </div>
                        <div class="file-category mb-2">
                            <span class="badge-category">Data</span>
                            <span class="badge badge-light">JSON</span>
                            <span class="badge badge-light">XML</span>
                            <span class="badge badge-light">SQL</span>
                            <span class="badge badge-light">SQLITE</span>
                            <span class="badge badge-light">DB</span>
                        </div>
                        <div class="file-category">
                            <span class="badge-category">Executables</span>
                            <span class="badge badge-light">EXE</span>
                            <span class="badge badge-light">DLL</span>
                            <span class="badge badge-light">APP</span>
                        </div>
                </div>
        </div>
            </div>
    </div>
    </div>
</div>