@model IndexModel

<div class="modal fade" id="DetailsModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLongTitle">
                    <strong>How Does it Work?</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pop-styling text-black">
                <p class="m-0">
                    This is a project to encrypt files and provide a link to share between the recipient and the sender as a means of securely sending data.
                </p>
                <br />                
                This project inherits the <strong>zero knowledge model</strong> in its architecture; thus,
              <ul class="mt-2">
                    <li>The password provided by the sender is not saved in our system.</li>
                    <li>The cipher key generated to encrypt/decrypt the data is not saved in our system.</li>
                    <li>The user is in control of the expiration date of the link.</li>
            </ul>
            </div>
        </div>
    </div>
</div>