@page "/error"
@model Frontend.Pages.ErrorModel
@{
    ViewData["Title"] = "Error page";

}

<div class="container text-center mt-5">
        <i class="bi bi-exclamation-octagon-fill fs-1"></i>
        <h2 class="alert-heading">Too Many Requests</h2>
        <p>You've exceeded the rate limit. Please wait a couple of minutes before trying again.</p>
        <hr>

</div>