* {
    font-family: "Domine", serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    /*background-color:white;*/
    margin:0;
    padding:0;
    font-style: normal;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

    body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url('../img/kWOBS.jpg') center center / cover no-repeat;
        filter: blur(10px);
        z-index: -1;
    }

.custum-file-upload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
}

.custum-file-upload .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.custum-file-upload .icon svg {
            height: 80px;
            fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
        display: flex;
        align-items: center;
        justify-content: center;
}

.custum-file-upload .text span {
            font-weight: 400;
            color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
        display: none;
}

#drop-zone.dragover {
    border: 2px dashed #888;
    background-color: #f0f0f0;
}
#file-info {
    padding: 8px 12px;
    background-color: #222;
    border: 1px solid #555;
    border-radius: 5px;
    margin-top: 10px;
    max-width: 100%;
    word-break: break-all;
}
.file-div {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.upload-status {
    color: black;

}

/* file styling ended**/
a, a:hover {
    color: inherit;
}
/*model styling ended**/
.experation-date {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    justify-self: center;
    width: 175px;
    display: none;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 7px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
}

/*button styling ended**/
.tabs-styling {
    justify-items: center;
}
.tabs-styling .nav-link {
        color: #333; 
}
.tabs-styling s .nav-link.active {
        color: #000;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.link-input-container .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: none;
}
.link-input-container {
    background-color: white;
    width: 100%;
    height: 195px;
    padding: 6px;
}

.link-input-container .input-group:focus-within {
    box-shadow: none;
}
.dec-button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}
.dec-button:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}
.dec-button {
    border-color: black;
}
.link-error-styling
{
    color:red;
}
/*decryption tab styling ended**/
